In [1]:
import pandas as pd

## reading data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodypain  age  runnyNose  diffBreath  infectionProb
0  101.918784         0   67          1           0              0
1   98.172897         1   51          0           0              0
2   98.908470         0   49          0          -1              0
3  101.054983         0    3          1           1              1
4  100.077269         1   42          0           1              0

In [4]:
df.tail()

           fever  bodypain  age  runnyNose  diffBreath  infectionProb
2683   98.974382         0  100          0           0              0
2684  101.294528         1   23          1           1              0
2685   99.465468         0   65          0          -1              1
2686  101.558067         0   72          1           1              1
2687  100.232426         0   56          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2688 non-null   float64
 1   bodypain       2688 non-null   int64
 2   age            2688 non-null   int64
 3   runnyNose      2688 non-null   int64
 4   diffBreath     2688 non-null   int64
 5   infectionProb  2688 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 126.1 KB

In [6]:
df['diffBreath'].value_counts()

 1    912
 0    898
-1    878
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,runnyNose,diffBreath,infectionProb
count,2688.000000,2688.000000,2688.000000,2688.000000,2688.000000,2688.000000
mean,100.014841,0.490327,51.361607,0.497396,0.012649,0.485863
std,1.163703,0.499999,28.434115,0.500086,0.816095,0.499893
min,98.001244,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.998002,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,100.028119,0.000000,52.000000,0.000000,0.000000,0.000000
75%,101.029304,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999514,1.000000,100.000000,1.000000,1.000000,1.000000

# train test splitting

In [8]:
import numpy as np

In [11]:
def split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([3, 4, 6, 5, 0, 1, 2])